BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4

# Readability Enhancements
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach

AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
AlignAfterOpenBracket: Align

ColumnLimit: 80
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment

SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
